<div class="navbar navbar-expand fixed-bottom bg-black border-top" data-bs-theme="dark">
  <div class="container-fluid px-3 lg-px-5">
    <%= link_to items_path, class: "navbar-brand" do %>
      <%= image_tag "goldcloud_logo.png", style: "width: 70px;" %>
    <% end %>

    <div class="navbar-nav ms-auto f-flex align-items-center justify-content-between">
      <% if current_user.role == "admin" %>
        <div class="nav-item dropup me-2">
          <a href="#" class="btn btn-success" id="addDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add
          </a>
          <div class="dropdown-menu dropdown-menu-center" aria-labelledby="addDropdown">
            <%= link_to "New Product", new_product_path, class: "dropdown-item" %>
            <%= link_to "New Package", new_package_path, class: "dropdown-item" %>
          </div>
        </div>
        <%= link_to "Orders", orders_path, class: "btn btn-info me-2" %>
        <%= link_to "Chats", chats_path, class: "btn btn-warning me-3" %>
      <% else %>
        <%= link_to cart_path, class: "nav-link me-3" do %>
          <i class="fa-solid fa-cart-shopping fa-2xl"></i>
        <% end %>
      <% end %>

      <div class="nav-item dropup">
        <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag "user_profile.jpg", class: "avatar", alt: "dropdown menu" %>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <% unless current_user.role == "admin" %>
            <%= link_to "Chats", chats_path, class: "dropdown-item" %>
            <%= link_to "My Orders", orders_path, class: "dropdown-item" %>
          <% end %>
          <%= link_to "Account", account_path, class: "dropdown-item" %>
          <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
        </div>
      </div>
    </div>
  </div>
</div>
