<div class="container mb-navbar mt-5">
  <%= render 'header', item: @item %>

  <%= render 'carousel', item: @item %>

  <%= render 'description', item: @item %>

  <% if @item.itemable_type == "Package" %>
    <%= render 'package_items', item: @item %>
  <% end %>

  <%= render 'price', item: @item %>

  <%= render 'actions', item: @item, current_user: current_user %>
</div>
