<div class="container my-5">
  <h1 class="text-center">Add New Product</h1>
  <%= simple_form_for @product do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Add Product" %>
  <% end %>
</div>
